/*
Theme Name:     Contact Form Page Template
Theme URI:      http://wpmu.org/
Description:    A super simple, self-contained contact form you can drop into your existing theme. 
Author:         Harley
Author URI:     http://premium.wpmudev.org/
Template:       twentytwelve
Version:        0.1
*/

@import url("../twentytwelve/style.css");